/*Fuente con nombre myFont*/
@font-face {
    font-family: myFont;
    src: url(../font/Poppins-Regular.ttf);
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 140px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: myFont;
    color: black;
}

/*Webkit para cambiar el scroll bar*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(47, 47, 47);
    border-radius: 10px;
}
/*Header de la página*/
header{
    background-color: black;
    width: 100%;
    margin: auto;
    display: flex;
    padding: 10px 0;
    text-align: center;
    /* position sticky y z-index 1000 para que el header se quede fijo y se mantenga por encima*/
    position: sticky;
    top: 0;
    z-index: 1000;
    scroll-margin-top: 50px;
}
header div{
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: space-between;
}
header div img{
    width: 70px;
}
header div nav{
    padding-top: 28px;
}
header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
header nav ul li {
    font-size: 16px;
    position: relative;
}
header nav ul li::after {
    content: '';
    position: absolute;
    bottom: -2px; 
    left: 0;
    width: 0; 
    height: 2px; 
    background-color: transparent;
    transition: width 0.8s ease; 
}
header nav ul li:hover::after {
    border-bottom: 2px solid white; 
    width: 100%;
}
header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}
/* CSS Index.html */
main {
    width: 70%;
    margin: auto;
}

.quienes_somos {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

h2 {
    padding-bottom: 35px;
    text-align: center;
    color: #dae529;
    font-size: 26px;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}

.quienes_somos img {
    width: 300px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.8));
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.quienes_somos p {
    text-align: justify;
    padding-right: 80px;
    font-size: 14px;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid black;
}
.card{
    position: relative;
    width: 300px;
    height: 350px;
    /*Aplicar margenes con resto de cartas*/
    margin: 20px;
    display: inline-block;
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0px 5px 10px #000;
}
.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    /*Indica cómo el contenido de un elemento deberá ser redimensionado
    para ajustarse a su contenedor.*/
    object-fit: cover;
}
.card .front h3{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgb(0,0,0,0.4);
    text-align: center;
}
.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(0, 0, 0);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0px 5px 10px #000;
}
.card .back .link{
    border-top: 1px solid #f3f3f3;
    height: 50px;
    line-height: 50px;
}
.card .back .link a{
    text-decoration: none;
    color: #f3f3f3;
}
.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card .back p{
    letter-spacing: 1px;
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
/* CSS Contacto.html */
.contenedorCentral {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadradoIzquierda,
.cuadradoDerecha {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
}

.cuadradoIzquierda {
    background-color: #222222b8;
    color: white;
    margin-right: 20px;
}

.cuadradoDerecha {
    background-color: #fff;
    color: #222222b8;
}

.titulo {
    font-size: 24px;
    margin-bottom: 10px;
}

.texto {
    margin-bottom: 20px;
}

.info {
    margin-top: 20px;
}

.contacto-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    font-size: 24px;
    margin-right: 10px;
    width: 30px;
}

.input {
    width: calc(100% - 30px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea.input {
    height: 100px;
    resize: vertical;
}

.btn {
    background-color: #dae529;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #c1ca44;
}

/* CSS Login.html */
.main-secundario {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80%;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.login-formulario {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    width: 40%;
}

.login-formulario h2 {
    margin-bottom: 20px;
}

.formulario {
    margin-bottom: 15px;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
}

.formulario input {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #dae529;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c1ca44;
}

.logo-container {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}
.contenedorLogin{
    text-align: center;
}

/* CSS registro.html */

.contenedorRegistro {
    text-align: center;
    padding-top: 10px;
}
/*Footer de la página web*/
footer{
    width: 100%;
    background-color: black;
    color: white;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box; 
    overflow-x: hidden;
}
.logo_footer{
    height: 80px;
    margin-bottom: 10px;
}
.redes-sociales{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.redes-sociales-foto{
    height: 50px;
    width: 50px;
}
.menu-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    list-style: none;
    color: white;
    font-size: 18px;
}
.menu-item{
    margin: 10px 15px;
    cursor: pointer;
    opacity: 0.6;
}
.menu-item:hover{
    opacity: 1;
}
.copyright{
    color: white;
    opacity: 0.3;
    text-align: center;
}