/*Fuente con nombre myFont*/
@font-face {
    font-family: myFont;
    src: url(../font/Poppins-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: myFont;
    color: black;
}

/*Webkit para cambiar el scroll bar*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(47, 47, 47);
    border-radius: 10px;
}

/*Header de la página*/
header{
    background-color: black;
    width: 100%;
    margin: auto;
    display: flex;
    padding: 10px 0;
    text-align: center;
    /* position sticky y z-index 1000 para que el header se quede fijo y se mantenga por encima*/
    position: sticky;
    top: 0;
    z-index: 1000;
}
header div{
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: space-between;
}
header div img{
    width: 100px;
}
header div nav{
    padding-top: 40px;
}
header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
header nav ul li {
    font-size: 18px;
    position: relative;
}
header nav ul li::after {
    content: '';
    position: absolute;
    bottom: -2px; 
    left: 0;
    width: 0; 
    height: 2px; 
    background-color: transparent;
    transition: width 0.8s ease; 
}
header nav ul li:hover::after {
    border-bottom: 2px solid white; 
    width: 100%;
}
header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}
/*Main*/

.contenedorCentral {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadradoIzquierda,
.cuadradoDerecha {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
}

.cuadradoIzquierda {
    background-color: #222;
    color: white;
    margin-right: 20px;
}

.cuadradoDerecha {
    background-color: #fff;
    color: black;
}

.titulo {
    font-size: 24px;
    margin-bottom: 10px;
}

.texto {
    margin-bottom: 20px;
}

.info {
    margin-top: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    font-size: 24px;
    margin-right: 10px;
    width: 30px;
}

.input {
    width: calc(100% - 30px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea.input {
    height: 100px;
    resize: vertical;
}

.btn {
    background-color: #dae529;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #c1ca44;
}


/*Footer de la página web*/
footer{
    width: 100%;
    background-color: black;
    color: white;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box; 
    overflow-x: hidden;
}
.logo_footer{
    height: 80px;
    margin-bottom: 10px;
}
.redes-sociales{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.redes-sociales-foto{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid white;
}
.menu-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    list-style: none;
    color: white;
    font-size: 18px;
}
.menu-item{
    margin: 10px 15px;
    cursor: pointer;
    opacity: 0.6;
}
.menu-item:hover{
    opacity: 1;
}
.copyright{
    color: white;
    opacity: 0.3;
    text-align: center;
}


