/*Fuente con nombre myFont*/
@font-face {
    font-family: myFont;
    src: url(../font/Poppins-Regular.ttf);
}
@font-face {
    font-family: myFontBold;
    src: url(../font/Poppins-Bold.ttf);
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 140px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: white;
    font-family: myFont;
    color: black;
    font-size: 16px;
    line-height: 1.5;
}

/*Webkit para cambiar el scroll bar*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(47, 47, 47);
    border-radius: 10px;
}
/*Header de la página*/
header{
    background-color: black;
    width: 100%;
    margin: auto;
    display: flex;
    padding: 10px 0;
    text-align: center;
    /* position sticky y z-index 1000 para que el header se quede fijo y se mantenga por encima*/
    position: sticky;
    top: 0;
    z-index: 1000;
    scroll-margin-top: 50px;
}
header div{
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: space-between;
}
header div img{
    width: 70px;
    height: auto;
    opacity: 0;
    animation: haciaAbajo 1s ease forwards;
}
header div nav{
    padding-top: 18px;
}
header nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    flex-direction: row;
    opacity: 0;
    animation: haciaAbajo 1s ease forwards;
}
header nav ul li {
    font-size: 16px;
    position: relative;
}
header nav ul li::after {
    content: '';
    position: absolute;
    bottom: -2px; 
    left: 0;
    width: 0; 
    height: 2px; 
    background-color: transparent;
    transition: width 0.8s ease; 
}
.links:hover::after {
    border-bottom: 2px solid white; 
    width: 100%;
}
.links-hamburguesa::after {
    content: ''; 
    position: absolute; 
    bottom: -2px; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    transition: background-color 0.8s ease;
    z-index: -1;
}

.links-hamburguesa:hover::after {
    background-color: yellow;
}
header nav ul li a {
    height: 100%;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}
.hamburguesa_bar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.hamburguesa_bar li{
    width: 100%;
}
.hamburguesa_bar a{
    width: 100%;
    color: black;
}
.boton-menu{
    display: none;
}
#cerrarMenu{
    height: 26px;
    width: 26px;
}
#mostrarMenu{
    height: 26px;
    width: 26px;
}
/* CSS Index.html */
.fondo {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.fondo video {
    max-width: 100%; 
    height: auto;
}
.texto_inicio{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -100%); 
    text-align: center; 
    color: white; 
    z-index: 1;
}
.texto_inicio h1{
    font-family: myFontBold;
    font-size: 3rem;
    margin-bottom: 20px;
    opacity: 0;
    animation: haciaAbajo 1s ease forwards;
}
.texto_inicio p{
    font-size: 1.5rem;
    margin-bottom: 20px;
    opacity: 0;
    animation: haciaAbajo 1s ease forwards;
}
.texto_inicio a{
    background-color: #dae529;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    opacity: 0;
    animation: haciaAbajo 1s ease forwards;
}
main {
    width: 100%;
    margin: auto;
}
/*Quienes somos*/
.quienes_somos { 
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Ajusta para un espaciado más uniforme */
    align-items: center;
    flex-wrap: wrap;
    width: 80%; /* Controla el ancho del contenedor para evitar que sea demasiado ancho */
    max-width: 1200px; /* Establece un máximo para grandes pantallas */
    margin: auto; /* Esto centrará la sección horizontalmente */
    background-color: #ffffff; /* Opcional: fondo para contraste */
    border-radius: 20px; /* Opcional: bordes redondeados */
    margin-top: 50px;
    margin-bottom: 100px;
}

.texto-container, .imagen-container {
    flex: 1 1 50%; /* Permite que ambos ocupen el 50% del espacio disponible */
    padding: 20px; /* Añade algo de espacio interno */
}

h2 {
    padding-bottom: 20px;
    text-align: center;
    color: #dae529;
    font-size: 2.25rem;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6); /* Suaviza la sombra para mejor legibilidad */
}

.quienes_somos img {
    width: 100%;
    max-width: 200px; /* Asegura que la imagen nunca sea más grande que su contenedor */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Menos intenso para no distraer */
}

.quienes_somos p {
    text-align: justify;
    line-height: 1.6; /* Mejora la legibilidad del texto */
}

/*Juegos*/
.juegos{
    margin-bottom: 100px;
}
.contenedorCards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.card{
    position: relative;
    width: 300px;
    max-width: 300px;
    height: 300px;
    margin: 20px;
    display: inline-block;
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0px 5px 10px #000;
}
.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .front h3{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgb(0,0,0,0.4);
    text-align: center;
    font-size: 1rem;
}
.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(0, 0, 0);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0px 5px 10px #000;
}
.card .back .link{
    border-top: 1px solid #f3f3f3;
    height: 50px;
    line-height: 50px;
}
.card .back .link a{
    text-decoration: none;
    color: #f3f3f3;
}
.card .back h3{
    font-size: 1.875rem;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card .back p{
    letter-spacing: 1px;
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
/*Personajes*/
.personajes{
    margin-bottom: 100px;
}
.contenedorPersonajes{
    margin: auto;
    display: flex;
    max-width: 400px;
    gap: 12px;
    width: 100%;
    background-color: #5a5a58b8;
    border-radius: 12px;
    padding: 30px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-padding: 30px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    flex-wrap: nowrap;
}
.contenedorPersonajes .cardPersonajes{
    flex: 0 0 auto;
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 12px;
    background-color: #fff;
    scroll-snap-align: start;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
.cardPersonajes .imagenPersonajes{
    width: 150px;
    height: 150px;
    padding: 4px;
    background-color: #222222b8;
    border-radius: 50%;
}
.imagenPersonajes img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
}
.cardPersonajes h3{
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 1.875rem;
}
.cardPersonajes{
    margin-top: 4px;
    font-size: 1rem;
    text-align: center;
}

/* Productos de index.html */
.productos{
    margin-bottom: 100px;
}
.cajaProductos{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.container-productos{
    background: linear-gradient(#c1ca44 0%, #77A5F8);
    width: 400px;
    background: #fff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.container-productos .encabezadoProductos{
    display: flex;
    align-items: center;
    height: 55px;
    border: 1px solid #ccc;
    border-radius: 30px;
    position: relative;
}
.encabezadoProductos label{
    z-index: 2;
    height: 100%;
    width: 30%;
    position: relative;
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.botonProductos{
    background-color: #000;
}
#tab-1:checked ~ .encabezadoProductos .pestana-1,
#tab-2:checked ~ .encabezadoProductos .pestana-2,
#tab-3:checked ~ .encabezadoProductos .pestana-3{
    color: #fff;
}
.encabezadoProductos label:nth-child(2){
    width: 40%;
}
.encabezadoProductos .deslizador{
    position: absolute;
    height: 85%;
    border-radius: inherit;
    transition: all 0.3s ease;
    background: black
}
#tab-1:checked ~ .encabezadoProductos .deslizador{
    left: 0%;
    width: 90px;
    transform: translateX(5%);
}
#tab-2:checked ~ .encabezadoProductos .deslizador{
    left: 50%;
    width: 120px;
    transform: translateX(-50%);
}
#tab-3:checked ~ .encabezadoProductos .deslizador{
    left: 100%;
    width: 95px;
    transform: translateX(-105%);
}
.container-productos input[type="radio"]{
    display: none;
}
.area-cartas{
    overflow: hidden;
}
.area-cartas .cartas{
    width: 300%;
    display: flex;
}
.cartas .fila{
    width: 33.4%;
}
.cartas .fila-1{
    transition: all 0.3s ease;
}
#tab-1:checked ~ .area-cartas .cartas .fila-1{
    margin-left: 0%;
}
#tab-2:checked ~ .area-cartas .cartas .fila-1{
    margin-left: -33.4%;
}
#tab-3:checked ~ .area-cartas .cartas .fila-1{
    margin-left: -66.8%;
}
.fila .detalles-precio{
    margin: 20px 0;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #e6e6e6;
}
.detalles-precio span{
    font-size: 4.0625rem;
    font-weight: 600;
    position: relative;
    font-family: "Noto Sans", sans-serif;
}
.detalles-precio span::before,
.detalles-precio span::after{
position: absolute;
font-family: "Poppins", sans-serif;
font-weight: 400;
}
.detalles-precio span::before{
    content: "€";
    font-size: 1.25rem;
    left: -13px;
    top: 17px;
}
.detalles-precio span::after{
    content: "/mes";
    font-size: 1.25rem;
    right: -45px;
    bottom: 17px;
}
.detalles-precio p{
    font-size: 1rem;
    margin-top: 5px;
}
.area-cartas .caracteristicas .liProducto{
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 10px;
    list-style: none;
}
.caracteristicas .liProducto i{
    color: black;
}
.caracteristicas .liProducto span{
    margin-left: 10px;
}
.container-productos button{
    height: 55px;
    width: 100%;
    margin-top: 20px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    background: linear-gradient(#c1ca44  0%, #c9c909);
    transition: transform 0.3s ease;
} 
.container-productos button:hover{
    transform: scale(0.98);
}

/* CSS Contacto.html */
.contenedorFormulario{
    position: relative;
    padding: 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    animation: fadeIn 1.5s forwards;
}

.form{
    width:100%;
    margin: auto;
    max-width: 75%;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.infoContacto{
    color: white;
    padding: 2.3rem 2.2rem;
    background-color: #222222;
    position: relative;
}

.infoForm{
    position: relative;
}

form{
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.titulo{
    font-weight: 23px;
    font-size: 24pt;
    line-height: 1;
    margin-bottom: 0.7rem;
    padding-bottom: 5px;
}

.contenedorInput{
    position: relative;
    margin: 1rem 0;
}

.contenedorInput label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    font-size: 0.9rem;
    font-weight: 20px;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}

.input-container.textarea label{
    top:1rem;
    transform: translateY(0);
}

.input{
    width: 94%;
    outline: none;
    border: 2px solid rgb(0, 0, 0);
    background: none;
    padding: 0.8rem 1.2rem;
    padding-right: 1rem;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}

textarea.input{
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}

.btn{
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #000000;
    font-size: 0.95rem;
    color: rgb(0, 0, 0);
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin-top:2%;
}

.btn:hover{
    background-color: black;
    color: #fff;
}

.contenedorInput span{
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}

.prueba{
    pointer-events: none;
}

.contenedorInput span:before,
.contenedorInput span:after{
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: rgb(255, 255, 255);
    top: 50%;
    transform: translateY(-50%);
}

.contenedorInput span:before{
    left: 50%;
}

.contenedorInput span:after{
    right:50%;
}

.contenedorInput.focus label{
    top:0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.85rem;
}

.contenedorInput.focus span:before,
.contenedorInput.focus span:after{
    width: 50%; 
    opacity: 1;
}

.text{
    margin: 1.5rem 0 2rem 0;
}

.information{
    display: flex;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 1.2rem;
}
.icon{
    font-size: 35px;
    margin-right: 0.7rem;
}

.redesSociales{
    padding: 1rem 0 0 0;
}

.redesSociales p{
    font-size: 16pt;
}

.iconosRedes{
    display: flex;
    margin-top: 0.5rem;
}

.iconosRedes a{
    text-decoration: none;
    color: inherit;
    font-size: 30px;
    width: 55px;
    height: 50px;
    border-radius: 5px;
    background: linear-gradient(45deg, #222222, #3e3e3e);
    text-align: center;
    line-height: 55px;
    margin-right: 0.5rem;
    transition: 0.3s;
}

.iconosRedes a:hover{
    transform: scale(1.05);
}

.contenedorInput .prueba{
    position: absolute;
    right: calc(1.35rem + 2px);
    top:50%;
    transform: translateY(-50%);
}

.contenedorInput input:focus + .prueba{
    color: #fff;
}

/* CSS Login.html */
.main-secundario {
    display: flex;
    justify-content: center;
    align-items: center; /* Esto centrará la sección verticalmente */
    min-height: 100vh; /* Esto proporciona altura mínima para el centrado vertical */
    padding: 20px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 900px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.login-formulario {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    width: 40%;
}

.login-formulario h2 {
    margin-bottom: 20px;
    text-align: center;
}

.formulario {
    margin-bottom: 15px;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
}

.formulario input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #dae529;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c1ca44;
}

.logo-container {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}
.contenedorLogin{
    text-align: center;
}

/* CSS registro.html */

.contenedorRegistro {
    text-align: center;
    padding-top: 10px;
}
/*Footer de la página web*/
footer{
    width: 100%;
    background-color: black;
    color: white;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box; 
    overflow-x: hidden;
}
.logo_footer{
    height: 60px;
    margin-bottom: 10px;
}
.redes-sociales{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.redes-sociales-foto{
    height: 40px;
    height: 40px;
}
.menu-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    list-style: none;
    color: white;
    font-size: 1rem;
}
.menu-item{
    margin: 5px 10px;
    cursor: pointer;
    opacity: 0.6;
}
.menu-item:hover{
    opacity: 1;
}
.copyright{
    color: white;
    opacity: 0.3;
    text-align: center;
    font-size: 0.8rem;
}

/* Efectos */
@keyframes haciaAbajo {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
    
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


/* Responsive */
@media (max-width: 992px) {
    .links{
        display: none;
    }
    .boton-menu{
        display: flex;
    }
    .form{
        grid-template-columns: 1fr;
    }

    .text{
        margin: 1rem 0 1.5rem 0;
    }

    .redesSociales{
        padding: 1.5rem 0 0 0;
    }
}


@media (max-width:895px){
    .texto_inicio{
        transform: translate(-50%, -70%); 
    }
}


@media (max-width: 768px){
    .quienes_somos {
        flex-direction: column; 
    }

    .texto-container, .imagen-container {
        flex-basis: 100%; 
    }

    h2 {
        font-size: 1.75rem; 
    }
    .texto_inicio h1{
        font-size: 2.5rem;
    }
    .texto_inicio p{
        font-size: 1.25rem;
    }
    .texto_inicio a{
        padding: 8px 16px;
    }
}



@media (max-width: 576px){
    .hamburguesa_bar{
        width: 100%;
    }
    .container-productos{
        width: 340px;
    }
    .texto_inicio h1{
        font-size: 2rem;
        margin-bottom: 16px;
    }
    .texto_inicio p{
        font-size: 1rem;
    }
    .texto_inicio a{
        padding: 6px 14px;
    }
    .information img{
        width: 40px;
    }
}


@media (max-width: 446px){
    .texto_inicio{
        transform: translate(-50%, -60%); 
    }
    .texto_inicio h1{
        font-size: 1.4rem;
        margin-bottom: 4px;
    }
    .texto_inicio p{
        font-size: 0.800rem;
        margin-bottom: 10px
    }
    .texto_inicio a{
        font-size: 0.675rem;
        padding: 2px 8px;
    }
}
